footer
  .container.clearfix.d-flex.justify-content-between
    .social.d-flex
      .social-item
        <a class="facebook" href="https://www.facebook.com/iGEMUGent2020"></a>
      .social-item
        <a class="twitter" href="https://twitter.com/igem_ghent"></a>
      .social-item
        <a class="instagram" href="https://www.instagram.com/igemugent2020"></a>
    .sponsor-item.lg
      img(src=require('Assets/img/sponsor_rnr.png')['default'])
    .sponsor-item.sm
      img(src=require('Assets/img/sponsor_watergroep.png')['default'])