- var navItems = [{'section': 'Project', 'items': [{'title': 'Description', 'link': 'Description'}, {'title': 'Clouds', 'link': 'Clouds'}, {'title': 'Engineering', 'link': 'Engineering'}, {'title': 'Dispersion', 'link': 'Dispersion'}, {'title': 'Contribution', 'link': 'Contribution'}, {'title': 'SOPs', 'link': 'SOPs'}, {'title': 'Safety', 'link': 'Safety'}, {'title': 'Notebook', 'link': 'Notebook'}]}, {'section': 'Human Practices & Outreach', 'items': [{'title': 'Human Practices', 'link': 'Human Practices'}, {'title': 'Outreach', 'link': 'Outreach'}]}, {'section': 'Team', 'items': [{'title': 'Team Members', 'link': 'Team Members'}, {'title': 'Collaborations', 'link': 'Collaborations'}, {'title': 'Attributions', 'link': 'Attributions'}]}, 'Awards', 'Fun']

mixin fakemixin()
    p