include mixins

html(lang="en")
  block headVars
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title} | Vsycle
    link(rel="shortcut icon" href="../assets/unity/favicon.ico")
    link(rel="stylesheet" href="../assets/unity/css/style.css")
    script(src="../assets/unity/js/UnityProgress.js")
    script(src="../assets/unity/js/UnityLoader.js")
    <script> var unityInstance = UnityLoader.instantiate("unityContainer", "../assets/unity/GiraffeTimeV2.json", {onProgress: UnityProgress}); </script>

  body
    include nav.pug
    header.d-flex.justify-content-center.align-items-center
      .banner(class=banner)
        .container
          h1= title
          p.lead.pl-1= tagline

    main
      .container
        .row(style="margin-bottom: 650px;")
          .content.col
            block game

    include footer.pug

