extends ../templates/contents.pug

block headVars
    - var title = "Attributions"
    - var tagline = "Team"
    - var requireMathJax = false
    - var banner = "banner-team"

block article
    :markdown-it(html)

    TODO