extends ../templates/contents.pug

block headVars
    - var title = "Attributions"
    - var tagline = "Team"
    - var requireMathJax = false
    - var banner = "banner-team"

block article
    :markdown-it(html)

        # Project Idea

        To decide the subject of our project could be, we had multiple brainstorm sessions around the theme of water and drought with our team. Eventually, some members of our team proposed to base the project around the concept of cloud seeding. After a literature study we decided to use ice nucleation proteins to induce rain.

        # Fundraising and public relations

        Communication with possible sponsors, companies we collaborated with, other iGEM teams and press, were done by Laure Craeye. Twitter, Facebook and Instagram pages were respectively set up by Bram Jacobs of team Bubbly, Laure Craeye and Shauny Van Hoye. The crowdfunding was launched and monitored by Lander De Vos.

        # Modules

        ## Engineering

        Brent Vanvyaene, Laure Craeye, and Shauny Van Hoye worked on the theoretical design of the lab experiments. The needed plasmids and primers were designed by Andries Peeters.  Marjan De Mey was responsible for the coaching and supervision.

        ## Cloud

        Lander De Vos researched which parameters affect the seeding efficiency. Shauny Van Hoye looked at the possibility to use dynamic (climate) chambers to simulate a cloud and the parameters in a cumulus cloud.  The estimation of the amount of BGs needed for cloud seeding was made by Shauny Van Hoye.

        ## Dispersion

        Research for suitable dispersion techniques was done by Brent Vanvyaene and Marvi van Tongeren. Information regarding the pneumatic flares was provided by Cloud seeding technologies.

        ## Legislation
        
        The legal aspects of the project were reviewed by Marvi van Tongeren.

        ## Business and marketing

        The businessplan was written by Brent Vanvyaene, Marvi van Tongeren, Laure Craeye and Lander De Vos. Surveys were made and distributed by Laure Craeye and Lander De Vos, supervised by Massimiliano Simons, postdoc at the department of philosophy and moral sciences at UGent. Nicholas Levrier from iGEM Paris Bettencourt distributed French versions of the surveys, translated by Lander De Vos. 

        # Logo

        The Vsycle logo was desiged by Branko d’Hertefelt.

        # Promotion video

        The filming for the promotion video was done by Waldo Vandermeiren. The editing was done by Matthijs Peeters.

        # Poster

        The poster was made and designed by Bram Spanoghe, Brent Vanvyaene, Marvi van Tongeren and Shauny Van Hoye.

        # Game 

        The game for our project, “Cloud run”, was created by Bram Spanoghe and Toon Van Huynegem.

        # School lessons

        The template for the lessons was made by Laure Craeye and was reviewed by Maaike Degryse. The animation video used in these lessons was made by Bram Spanoghe. The lessons were given in various schools by Christel Roets, Jasmie Callewaert, Mieke Christiaen, Roxanne Goossens and Julie Verbeke.

        # Wiki

        The design and coding of the wiki was done by Jonas Spanoghe, Bram Spanoghe and Marvi van Tongeren. All students helped to write the text for the wiki. 

        # Sponsors

        Our sponsors are Revive and restore, the Watergroep, Ghent University, the faculty of bioscience engineering of Ghent University, the centre for synthetic biology and BioBix.
