extends ../templates/contents.pug

block headVars
    - var title = "Collaborations"
    - var tagline = "Team"
    - var requireMathJax = false
    - var banner = "banner-team"

block article
    :markdown-it(html)

       # Cloud seeding technologies 

       We contacted the German company Cloud seeding technologies in regard to a pneumatic dispersion flare they are designing, which could be interesting for the dispersion of our product. If we could deliver our product as a powder by freeze-drying our cells, they would test it with the pneumatic flares in their cloud chambers. Because of the relatively short timeframe of this iGEM year, we could not perform the experiments we wanted to do. However, further collaboration, even after the iGEM competition, is not excluded.  
    
    - var imgpath = "" + require("../assets/img/Collaborations_fig1.png")["default"]
    +image(1, imgpath, "Cloud Seeding Technologies", 60)

    :markdown-it
        # Bubbly

        At the Ghent University, we worked on two projects with two different teams. The second UGent team, Bubbly, worked on designing a pearl that works as a food supplement to alter the gut microbiome. The aim of their project is to resolve depression. Every two weeks we and our mutual advisors had a meeting with both of our teams to give input on each other's projects and we exchanged ideas for human practices, outreach, videos, etc. Collaboration was done to search for sponsors, to do our outreach and to work on science communication. For the sponsoring, we made a shared brochure which we sent to potential sponsors. As outreach, we made a Facebook -, Twitter- and Instagram account which we shared. The Facebook and Instagram account were managed by our team while the twitter account was curated by team Bubbly. On these pages, we posted stories, updates and pictures from our iGEM journey. To make our presentation video, we also collaborated in the search for a good filming man. Luckily, a friend of a Bubbly team member could help us out. Last but not least, we collaborated for science communication where our team made a [game](https://2020.igem.org/Team:UGent_Belgium/Fun#Game) where the topics of the two teams were integrated. Team Bubbly made the YouTube tutorial consisting out of five video’s dealing with Biopython.
    
    - var imgpath = "" + require("../assets/img/Collaborations_fig2.png")["default"]
    +image(2, imgpath, "A meeting between our two teams!", 60)

    :markdown-it

        # iGEM Paris Bettencourt 

        The project of the team of Paris Bettencourt, Quaranskin, studies the effects of social distancing measures on the skin microbiome. Since our university closed and we all did stay home for several months, we were able to help them out. More specifically, they made a test to collect skin microbiome samples, which were then sent to a sequencing company. They provided us with the needed sampling materials. Multiple members of our team participated in the test and sent them their samples. In return, they helped us to distribute our surveys in France. To do so, we had to translate our surveys in French.

    - var imgpath = "" + require("../assets/img/Collaborations_fig3.png")["default"]
    +image(3, imgpath, "The quaranskin sampling kit, fresh from Paris", 80)   

    :markdown-it

        #  IGEM IISER Berhampur 

        Social media is the easiest way to spread your connections to the outside world. Through Instagram, the iGEM team of Berhampur asked us to spread and to fill in their survey about awareness of dengue disease in various part of the world. Their goal was to spread awareness among people across the world. We helped them out with this.  

    - var imgpath = "" + require("../assets/img/Collaborations_fig4.png")["default"]
    +image(4, imgpath, "IGEM IISER Berhampur", 70)

    :markdown-it

        # iGEM Manchester   

        Hipposol is the project of team Manchester which makes a sunscreen based on a component present in hippo sweat. With this, they want to create an alternative for the many sunscreens that are harmful to coral reefs. Both teams met each other during a call with our common sponsor Revive&Restore. There we discovered that both of our teams were making a business plan, and later had a meeting with them to exchange ideas about this aspect of our projects.


    - var imgpath = "" + require("../assets/img/Collaborations_fig5.png")["default"]
    +image(5, imgpath, "Our meeting with the IGEM Manchester team", 60)   


//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
