extends ../templates/contents.pug

block headVars
    - var title = "Contribution"
    - var tagline = "Project"
    - var requireMathJax = false
    - var banner = "banner-project"

block article
    :markdown-it(html)

        # Introduction

        The COVID-19 pandemic has affected the whole world. It also greatly impacted our iGEM journey. Because of the lockdowns and the closure of our university, we were not allowed to conduct any lab experiments. Therefore, the whole idea was worked out theoretically based on literature as well as experience from the iGEM UGent team from 2016, who also worked with the INP gene. When designing our construct, we searched for genes and mechanisms that had a great chance of leading to a successful construct. All the literature, SOPs and other important information that we gathered during the past months is written down on our wiki. Moreover, on our engineering page, the whole process of making the construct, transformation of the vector in the cells and subsequent tests to control if the cells contain the right plasmid and if no mutations occurred, are worked out. Besides that, the fermentation and further downstream processing of the biological cloud seeding agent are fully described as well. Finally, the different experiments and their outcome to test the functionality from our product are given. As such, we give the recipe to future iGEM teams, companies or scientists to make our Vsycle product so further investigation can be performed. 

        The genbank files can be downloaded here:

    a(class="btn btn-primary" href=require("../assets/downloads/Vsycle_genbankfiles.zip")["default"] download) Click to download


    :markdown-it(html)
        
        <br/>During our journey, we also contacted a German cloud seeding company called Cloud Seeding Technologies. This company is designing pneumatic flares that serve as an alternative to the current heat-based dispersion systems. This concept is very interesting for our project as biological particles would be degraded by using heat-based dispersion mechanisms. Their equipment is mainly adapted to dispersion of chemicals, but they have shown interest to optimise their equipment so it can be used for dispersion of biological particles as well. By delivering a biological cloud seeding agent to them, we would be able to help them in testing this.  As they showed great interest in our project, they let us know that they will look how to work further on this project in the future.  

        # Business plan
        
        To support this and other future companies that are willing to use this product, we made a business plan. In this business plan we set up all our values on the use of the product and on the conducting of cloud seeding in general. Moreover, an organization and regulation structure on an international level is proposed based on the results of surveys we distributed during this journey. Finally, a business model canvas and a marketing strategy are described. As an additional contribution for future iGEM teams, we made a template for the construction of a business plan that they can use for making their own one. This also includes templates for making a business canvas model and a SOR-matrix. Our proposed implentation can be found [here](https://2020.igem.org/Team:UGent_Belgium/Implementation). The template can be downloaded by clicking the following button:

    a(class="btn btn-primary" href=require("../assets/downloads/BusinessPlanTemplate.pdf")["default"] download) Click to download

    //- <a> href="../assets/downloads/BusinessPlanTemplate.docx" download>Click to download</a>



//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
