extends ../templates/contents.pug

block headVars
    - var title = "Contribution"
    - var tagline = "Project"
    - var requireMathJax = false
    - var banner = "banner-project"

block article
    :markdown-it(html)

        # About

        The COVID-19 pandemic has affected the whole world. It also greatly impacted our iGEM journey. Because of the lockdowns and the closure of our university, we were not allowed to conduct any lab experiments. Therefore, the whole idea was worked out theoretically based on literature as well as experience from the iGEM UGent team from 2016, who also worked with the INP gene. When designing our construct, we searched for genes and mechanisms that had a great chance of leading to a successful construct. All the literature, SOPs and other important information that we gathered during the past months is written down on our wiki. Moreover, on our engineering page, the whole process of making the construct, transformation of the vector in the cells and subsequent tests to control if the cells contain the right plasmid and if no mutations occurred, are worked out. Besides that, the fermentation and further downstream processing of the biological cloud seeding agent are fully described as well. Finally, the different experiments and their outcome to test the functionality from our product are given. As such, we give the recipe to future iGEM teams, companies or scientists to make our Vsycle product so further investigation can be performed. 

        During our journey, we also contacted a German cloud seeding company called Cloud Seeding Technologies. This company is designing pneumatic flares that serve as an alternative to the current heat-based dispersion systems. This concept is very interesting for our project as biological particles would be degraded by using heat-based dispersion mechanisms. Their equipment is mainly adapted to dispersion of chemicals, but they have shown interest to optimise their equipment so it can be used for dispersion of biological particles as well. By delivering a biological cloud seeding agent to them, we would be able to help them in testing this.  As they showed great interest in our project, they let us know that they will look how to work further on this project in the future.  

        # Business plan
        
        To support this and other future companies that are willing to use this product, we made a business plan. In this business plan we set up all our values on the use of the product and on the conducting of cloud seeding in general. Moreover, an organization and regulation structure on an international level is proposed based on the results of surveys we distributed during this journey. Finally, a business model canvas and a marketing strategy are described. As an additional contribution for future iGEM teams, we made a template for the construction of a business plan that they can use for making their own one. This also includes templates for making a business canvas model and a SOR-matrix. The template can be found below. 

    <a href="../assets/downloads/BusinessPlanTemplate.docx" download>Click to download</a>

//-     :markdown-it(html)
//-         <br/>

//-         INTRODUCTION  

//-         [Introduction on your project and the product/service you want to offer.] 

 

//-         WHO ARE WE: THE TEAM & ITS ORGANISATION  

//-         [This is a representation of hierarchy and structure in the business and how it operates exactly. In the context of the iGEM competition this can also be the hierarchy and structure in your iGEM team and how you plan on operating a potential business based on your project.] 

 

//-         2.1. Structure of the team 

//-         [The team structure in the business/iGEM team] 
        

//-         2.2. Future organisation 

//-         [How does the business operate/how do you plan your project being used in a business.] 

        

//-         MISSION & VISION  

//-         3.1. Mission 

//-         [The mission of a business is the thing that it wants to contribute to the outside world; Why does it exist, what is its place in the world, what kind of additional value does it deliver and what do hope to achieve? It consists of 5 components: working area, the right to exist, contribution to stakeholders, norms & values and beliefs, en your ambitions. An example for a mission could be Disneyland: "We want people to enjoy themselves".] 

        

//-         3.2. Vision 

//-         [This the 'dream' that you want to achieve with your business/project: a future perspective that exceeds the present possibilities, but still remains realistic and believable. An example for a vision could be Disneyland: "Happiest place on earth".] 

        

//-         3.3. Values 

//-         [The values of a business are the essence of what a company is and form the the foundations of the choices it makes. It is the moral compass of the business: it indicates how and why an organisation does what it does. 

        

        

//-         BUSINESS MODEL CANVAS (BMC) 

//-         [The business model canvas is a visual representation of the different factors in a business, containing the following parts: key partners, key activities, key resources, value propositions, customer relationships, channels, customer segments, cost structure and revenue streams. A template can be found below.] 

        

//-         4.1. Creating Value 

//-         4.1.1. Value propositions 

//-         [The fundament of value propositions is to convince your clients why your product/service is so good and why they should choose your product/service over that of your competitors. You should mention what additional value your product/service delivers, what problems you want to solve with it and most importantly why your product/service is better than that of the competition.] 

//-         4.1.2. Customer segments 

//-         [Customer segments describe for who we want to create value, who is meant to use your product/service. For this, you should identify the different groups or segments of possible clients and develop marketing strategies fitting for each of these groups. In the iGEM competitions these are your stakeholders.] 

        

//-         4.1.3. Customer relationships 

//-         [This describes your relationships with the different customer segments, what you want to do to improve these relationships and how important these relationships are to your business] 

        

        

//-         4.2. Delivering value 

//-         4.2.1. Channels 

//-         [This describes the channels that are used to reach your clients and how they want to be reached. You should also mention what you think is the best way and if this is costefficient.] 

        
        

//-         4.2.2. Key resources 

        

//-         4.2.2.1. Human resources 

        

//-         [What personnel needs to be present in your business and what tasks they should fulfil.] 

        

//-         4.2.2.2. Financial resources 

        

//-         [Where does your business get its money from, what are your incomes?] 

        

//-         4.2.2.3. Physical resources 

        

//-         [What equipment and infrastructure is available for your business?] 

        

//-         4.2.3. Key Activities 

//-         [What are the most important activities of your business. Possible examples include production, design, distribution...] 

        

//-         4.2.4. Key Partnerships 

//-         [This describes the most essential partners needed for your business.] 

        

        

//-         4.3. Valorising value  

        

//-         4.3.1. Cost structure 

//-         [In cost structure you should mention all the costs for an operational company. These include variable and fixed costs. What the most important cost are and which key activities are most expansive can be described as well.] 

        

//-         4.3.2. Revenue streams 

//-         [This describes the money your business generates for each customer segment and for what they pay, how they pay and how they want to pay.] 

        

//-         COMPETITOR ANALYSIS 

//-         5.1. SWOT 

//-         [In a SWOT analysis you identify the strengths, weaknesses, opportunities and threats for your business. Based on these you can develop an optimal strategy. For each of the four parts of the analysis five strengths/weaknesses/opportunities/threats need to be identified.] 

        

        

//-         5.1.1. Strengths 

//-         S1.   

//-         S2.   

//-         S3.   

//-         S4.   

//-         S5.   

        

//-         5.1.2. Weaknesses 

//-             W1.    

//-             W2.   

//-             W3.    

//-             W4.   

//-             W5.   

        

//-         5.1.3. Opportunities 

//-         O1.  

//-         O2.   

//-         O3.   

//-         O4.  

//-         O5.  

        

        

//-         5.1.4. Threats 

//-         T1.   

//-         T2.  

//-         T3.  

//-         T4.  

//-         T5.  

        

//-         5.2. SOR  

//-         5.2.1. Orientation towards strengths 

//-         [More detailed explanation about the strengths described in the SWOT-analysis.] 

        

//-         5.2.2. Orientation towards weaknesses 

//-         [More detailed explanation about the weaknesses described in the SWOT-analysis.] 

        

//-         5.2.3. Orientation towards opportunities 

//-         [More detailed explanation about the opportunities described in the SWOT-analysis.] 

        

//-         5.2.4. Orientation towards threats 

//-         [More detailed explanation about the threats described in the SWOT-analysis.] 

        

//-         5.2.5. SOR strategy 

//-         [Using the points in the SWOT analysis a SOR-matrix is made. Bases on how much a strength helps in achieving an opportunity or is countered by a certain threat, and how much a weakness prevents the accomplishment of an opportunity or increases the effect of a threat, a score from 0 to 3 is given to each spot in the matrix. 3 Being a strong effect and 0 no effect. Each row and column can maximally have a sum of 12. The sum of all the spots in the matrix in each of the four parts, determines the optimal strategy (part with the highest score). Below you can find a template for the SOR-matrix.] 

        

//-         5.2.6. Marketingmix 

//-         [Here you should describe your strategy based on the result of the SOR-matrix] 

        

//-         5.2.6.1. Price  

//-         [What is the price for your product?] 

        

//-         5.2.6.2 Place 

//-         [This describes where your product is produced, where it is distributed, where research is done, ...] 

        

//-         5.2.6.3. Product  

//-         [Here you should describe what exactly your product/service is.] 

        

//-         5.2.6.3. Promotion  

//-         [How do you plan on promoting your product/service?] 




//- //- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
