extends ../templates/contents.pug

block headVars
    - var title = "Project"
    - var tagline = "Description"
    - var requireMathJax = false
    - var banner = "banner-project"

block article
    :markdown-it(html)

        # Problem

        Water scarcity is an increasingly important problem everywhere on our planet. According to Panel et al. (2011), by 2030 almost half of the world’s population will suffer severe water stress without altering current levels of water consumption and pollution. At this moment there is no global water scarcity as such, but individual countries and regions need to urgently tackle the critical problems presented by water stress.

        These problems have many causes, with important contributors like the rapidly raising population and, of most interest to us, the effects of climate change on the weather. Climate change increases the frequency of extreme weather conditions such as heatwaves and extended droughts on the one hand, but also hailstorms, heavy downpours and storms on the other hand. This has been a major global issue for decades, and unlikely to be solved anytime soon. Since the origin of the problem has no easy scientific solutions, we focused our efforts on trying to mediate some of its symptoms, and reduce the pressure of climate change on our planet. 

    - var imgpath = "" + require("../assets/img/obama7.jpg")["default"]
    +image(1, imgpath, "Obama on climate change")

    :markdown-it

        # Our solution

        Specifically, our team decided to work on the changes in intensity and frequency of precipitation. A method to do this already exist, known as cloud seeding. This technique allows a degree of control over the amount and type of precipitation. The most obvious example of this is the induction of rain, but avoiding heavy hailstorms by reducing the size of hailstones is another one of the possibilities. 

        Cloud seeding is achieved by dispersing certain particles into the clouds. The function of these particles is to attract water and act as nuclei to form larger droplets. These droplets can then continue growing until they are heavy enough to fall down as precipitation. This is the basic process of forming precipitation and naturally occurs with particles like dirt and pollen. This process can be divided into 2 major variants: one for warm clouds, and one for cold clouds. For cold clouds, water aggregates by way of the formation of ice crystals, which is induced by the presence of ice nuclei. For warm clouds, this is done by way of condensation. The goal of our project is to produce a new, better ice nucleus for the cloud seeding cold clouds. 

        # Cloud seeding

        Currently, chemicals are used for cloud seeding, the most used one being silver iodide (AgI). The problem is that these chemicals are toxic to the environment if they accumulate in the soil. By using them in cloud seeding, there's a risk of polluting large areas if it were to be used more frequently.

        It is clear that for cloud seeding to be done on a larger scale, it would require an environmentally friendly alternative seeding compound. This is exactly what our team Vsycle set out to solve. We based our project around an ice nucleus already present in nature: the ice nucleation protein (INP) of Pseudomonas syringae. This protein is nontoxic, biodegradable and has already gained attention for its ice nucleating properties, for example already being put to use to create more snow on ski slopes. The unique structure of these proteins helps water molecules to arrange into an ice crystal more easily, thereby allowing the freezing process to  begin at higher temperatures. 

        To facilitate the production of the INPs, we decided to express the genes in E. Coli rather than their original host. However, these cells would be living GMO’s containing synthetically engineered DNA and would therefore suffer from the negative perception and legislation of GMO’s. Having the cells excrete the proteins and purifying them was no ideal solution to this problem, as INPs bound to membranes have been shown to form ice more efficiently, as well as having a better stability (Schmid et al., 1997). This is why we made use of the bacterial ghost system. This system comprises of the addition of a certain gene to the plasmid of the bacteria which will result in the bacteria lysating themselves, causing all of the cytoplasm to leak out. The result is an empty bacterial membrane, void of genetically engineered DNA: a bacterial ghost (Kassmannhuber et al., 2017). As the proteins bound to the membrane are unaffected by this process, we will be left with what can be described as a giant, empty vesicle covered with ice nucleation proteins: our new cloud seeding agent. As these are used to alter a key part of the water cycle, we combined the words vesicle and cycle to form the name for our project: Vsycle. 


    :markdown-it
        # References

        We are too cool for references.
