extends ../templates/contents.pug

block headVars
    - var title = "Project Description"
    - var tagline = "Describe how and why you chose your iGEM project."
    - var requireMathJax = false

block article
    :markdown-it(html)

        # Problem

        Water scarcity is an increasingly important problem everywhere on our planet. According to Panel et al. (2011), by 2030 almost half of the world’s population will suffer severe water stress without altering current levels of water consumption and pollution. At this moment there is no global water scarcity as such, but individual countries and regions need to urgently tackle the critical problems presented by water stress.
        
        These problems have many causes, with important contributors like the rapidly raising population and, of most interest to us, the effects of climate change on the weather. Climate change increases the frequency of extreme weather conditions such as heatwaves and extended droughts on the one hand, but also hailstorms, heavy downpours and storms on the other hand. This has been a major global issue for decades, and unlikely to be solved anytime soon. Since the origin of the problem has no easy scientific solutions, we focused our efforts on trying to mediate some of its symptoms, and reduce the pressure of climate change on our planet. 

        # What should this page contain?

        * A clear and concise description of your project.
        * A detailed explanation of why your team chose to work on this particular project.
        * References and sources to document your research.
        * Use illustrations and other visual resources to explain your project.

        # Advice on writing your Project Description
        
        We encourage you to put up a lot of information and content on your wiki, but we also encourage
        you to include summaries as much as possible. If you think of the sections in your project 
        description as the sections in a publication, you should try to be concise, accurate, and
        unambiguous in your achievements. Your Project Description should include more information 
        than your project abstract.

    - var imgpath = "" + require("../assets/img/Description--josh-withers.jpg")["default"]
    +image(1, imgpath, "Picture by Josh Withers on Unsplash")

    :markdown-it
        # Recording References

        iGEM teams are encouraged to record references you use during the course of your research. They
        should be posted somewhere on your wiki so that judges and other visitors can see how you thought 
        about your project and what works inspired you.


//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
