extends ../templates/contents.pug

block headVars
    - var title = "Description"
    - var tagline = "Project"
    - var requireMathJax = false
    - var banner = "banner-project"

block article
    :markdown-it(html)

        # Problem

        Water scarcity is an increasingly important problem everywhere on our planet. According to [Panel et al., 2011](#citation1), by 2030 almost half of the world’s population will suffer severe water stress if current levels of water consumption and pollution are not altered.  Individual countries and regions already run in major issues because of water stress.

        These problems have many causes, with important contributors like the rapidly increasing population and the effects of climate change on the weather. With our project, we specifically want to target the latter. Climate change increases the frequency of extreme weather conditions such as heatwaves and extended droughts on the one hand, and hailstorms, heavy downpours and storms on the other hand. This  has been a major global issue for decades  and unlikely to be solved anytime soon. Since the origin of the problem has no easy scientific solutions, we focused our efforts on trying to mediate some of its symptoms and reduce the pressure of climate change on our planet.


    :markdown-it

        # Our solution

        Specifically, our team investigated synthetic biology approaches to change the intensity and frequency of precipitation. Cloud seeding has emerged as a promising approach for climate engineering.  This technique allows some control over the amount and type of precipitation. The most obvious example of this is the induction of rain, but avoiding heavy hailstorms by reducing the size of hailstones is another possibility.

        Cloud seeding is achieved by dispersing certain particles, called ice nuclei, into the clouds. The function of these particles is to attract water and act as nuclei to form larger droplets. These droplets then continue to grow until they are heavy enough to fall down as precipitation. This process naturally occurs in clouds, where particles like dust and pollen form the ice nuclei. Ice nucleation processes can be divided into two major variants: one for warm clouds and one for cold clouds. For cold clouds, water aggregates by forming ice crystals, induced by the presence of ice nuclei. For warm clouds, this happens by condensation. The goal of our project is to produce new ice nuclei for the cold cloud seeding. 
        
        # Cloud seeding

        Currently, chemicals are used for cloud seeding, the most used one being silver iodide (AgI). The problem is that these chemicals are toxic to the environment if they accumulate in the soil. By using them in cloud seeding, there's a risk of polluting large areas if it were to be used more frequently.
        
        The mission of Vsycle is to bring cloud seeding on a larger scale, with a cheap environmentally friendly alternative. We harnessed an ice nucleus already present in nature: the ice nucleation protein (INP) of Pseudomonas syringae. This protein is nontoxic, biodegradable and has already gained attention for its ice nucleating properties, as the protein name suggests. It is already used, for example, to create artificial snow on ski slopes. The unique structure of these proteins helps water molecules arrange into an ice crystal more easily, thereby allowing the freezing process to begin at higher temperatures.         
        
        To facilitate the production of the INPs, we decided to express the genes in E. coli rather than using their original host, as E. coli grows faster and is easier to manipulate. However, these cells would be living GMO’s containing synthetically engineered DNA and would therefore suffer from the negative perception and legislation regarding GMO’s. Having the cells excrete the proteins and purifying them was not an ideal solution as membrane-bound INPs have been shown to form ice more efficiently (Schmid et al., 1997). This is why we made use of the bacterial ghost system which comprises the addition of a specific gene to the plasmid of the bacteria that will cause the bacteria to lyse and liberate its cytoplasmic content. The end-product is an empty bacterial membrane, void of genetically engineered DNA: a bacterial ghost (Kassmannhuber et al., 2017). As the proteins bound to the membrane are unaffected by this process, we will be left with what can be described as an empty vesicle of cellular components covered with ice nucleation proteins. As this agent is used to be dispersed in clouds and as clouds form a key part in the water cycle, we combined the words ‘vesicle’ and ‘cycle’ to form the name of our project: Vsycle. 

        # Project overview

        The Pert chart of the Vsycle project is given in the following figure. More specifically, the project comprises of five highly interconnected modules. In [module cloud (WP 1)](https://2020.igem.org/Team:UGent_Belgium/Clouds), the properties of clouds and cloud seeding are examined. In [module engineering (WP 2)](https://2020.igem.org/Team:UGent_Belgium/Engineering), the plasmid constructs of Vsycle and the production, testing and purification of the cloud seeding agent are investigated. [Module dispersion (WP 3)](https://2020.igem.org/Team:UGent_Belgium/Dispersion) searches for an ecological way to disperse the produced agent in clouds. Next, [module legislation (WP 4)](https://2020.igem.org/Team:UGent_Belgium/Legislation) focuses on the legislation regarding GMO’s and executing cloud seeding. Finally, [module business and ethics (WP 5)](https://2020.igem.org/Team:UGent_Belgium/Human_Practices) is about business and ethical aspects of the project. 

    - var imgpath = "" + require("../assets/img/Description_fig1.png")["default"]
    +image(1, imgpath, "The Pert chart of our project")   

prepend citations
    - var citations = [{"authors": " Panel, I. R., Consumption, U. N. E. P. S., and Branch, P. (2011). ", "doi": "https://doi.org/10.1108/03068291311305044", "journal": " UNEP/Earthprint.", "title": " Decoupling natural resource use and environmental impacts from economic growth. ", "type": "article"},{"authors": " Kassmannhuber, J., Rauscher, M., Schöner, L., Witte, A., & Lubitz, W. (2017). ", "doi": "https://doi.org/10.1080/21655979.2017.1284712", "journal": " Bioengineered ", "numbers": "8(5), 488-500. ", "title": " Functional display of ice nucleation protein InaZ on the surface of bacterial ghosts. ", "type": "article"}] 
