extends ../templates/contents.pug

block headVars
    - var title = "Fun"
    - var requireMathJax = true
    - var banner = "banner-fun"

block article
    :markdown-it(html)
        # Animation
        This video was made for outreach, with the goal of showing children the importance of rain. We hope you'll enjoy it as well!
    
    video(controls style="width: 100%;")
        source(src=require('Assets/video/animation_video_vsycle_subs.mp4')['default'] type="video/mp4")

    :markdown-it(html)
        # Game
        
        To introduce our project in a fun way to older age groups, we made the game Cloud Run. While the gameplay is pretty straightforward, it isn't easy! 

        You can play it [here](https://bspanoghe.itch.io/cloud-run)

        GLHF!

        # Outreach results

        We've organized lessons for both primary school children and toddlers for our project, and have gotten some beautiful pictures of both education in action in return. Here's a showcase of some of our favorites!



        