extends ../templates/contents.pug

block headVars
    - var title = "Fun"
    - var requireMathJax = true
    - var banner = "banner-fun"

block article
    :markdown-it(html)
        # Animation video for outreach

    video(controls style="width: 100%;")
        source(src=require('Assets/video/animation_video_vsycle_subs.mp4')['default'] type="video/mp4")

    :markdown-it(html)
        # And also game
        Game link
