extends ../templates/contents.pug

block headVars
    - var title = "Human Practices"
    - var tagline = "Human Practices & Outreach"
    - var requireMathJax = false
    - var banner = "banner-hp-outreach"

block article
    :markdown-it(html)

        # Public opinion

        Using scientific knowledge and expertise to solve world problems through synthetic biology is an appealing concept. However, accomplishing such a project is not easy if it is not supported by the general public. The discussions about whether or not GMOs are ethically acceptable and the use of synthetic biology in daily life are highly controversial. Scientists, politicians, companies, climate activists as well as private individuals take part in these discussions.  

        The problem, however, is that opinions are often formed without prior knowledge of the subject. In addition, we think it is vital that our project is supported by the outside world. Drought is an increasing problem we are confronted with. Here in Belgium, but also in other parts of the world, images of drought or extreme weather conditions as a result of climate change are part of the news every week. This is how the problem of drought and water scarcity caught our attention and why we decided to work on it. To tackle these issues through the development of a biological cloud seeding agent, we use synthetic biology.  

        What may seem like a good solution to us, may rather raise questions to others. For this purpose, we contacted a philosopher at our university, Massimiliano Simons. First of all, we brainstormed together about the ethics regarding our project. Besides that, we investigated the opinion and concerns of experts and farmers,the latter being identified as our stakeholders. This by doing a survey where we proposed the ethical questions about which we discussed with Massimiliano. As the ethical questions in the survey are also about in-depth scientifical discussions such as geo-engineering, we decided to not give the survey to just everyone. It is important to take prior knowledge to a subject before an objective statement can be made. Therefore, the surveys with the most in-depth ethical questions were only sent to experts. To a lesser extent, we asked farmers about the ethics of the use of the cloud seeding technology. By interviewing them, our goal was to get an overview about how much they are affected with problems due to drought.   

       
    :markdown-it(html)

        # Responsibility

        Like every scientific technology, cloud seeding can be abused and we wanted to think about this during our project. First of all, we thought about responsibility. More specifically, who should manage the access of the technology? We know that there are political tensions between a lot of countries in the world. As cloud seeding can be used to combat drought, it also can be used to dry out other countries intentionally. As inventors of our product and as the future generation, we do not want such things to happen. Government can play a role in the management, but we are convinced that meteorological experts would be a better choice. They are expected to assess the situation of a country in terms of water stress in a more objective way. Moreover, they have knowledge regarding clouds and upcoming weather conditions. What we could conclude based on our surveys is that about 50% of the farmers agreed with us while the other ones would let cloud seeding performing companies, possibly together with experts, manage the accessibility. However, experts preferred the technology to be regulated by the government or an agency that is controlled by the government.  

        But the concept of responsibility can be seen in a more general way. What if, whilst performing a cloud seeding operation, something goes wrong and damage will occur to a third party? Who is responsible for this? Here, all experts and farmers reached a consensus: the one who is giving access to the use of the technology is responsible for this. What we think is that a distinction has to be made here; if the applicant had wrong intentions than it is his responsibility. If damage occurs because of technical failing, there should be a kind of insurance system that will be responsible for eventually costs due to the damage. The latter was also a suggestion of one of the experts. The only question we can ask ourselves here is, how will we know whether it was a technical issue or not? To answer this, there is a lack of knowledge at this moment.  

        # Cloud seeding as a way of geo-engineering

        However, this topic brings us to the next question: "Should every use of cloud seeding be registered?" The answer on this question is unanimously amongst our team members, farmers and experts: yes, it should be. Not only to control the use of the technique or to prevent abuse, but also because this can be a way to evaluate the effect of using cloud seeding on the weather. Making registration obligatory could be a way to prevent political abuse of cloud seeding and other techniques (war, blackmail, new form of power, etc.). This abuse is something we as a team but also the experts and farmers fear for. Especially if the ability to perform cloud seeding would become a new form of power, it could lead to a new form of inequality as well. This is a common concern, as the surveys show. The use of such techniques can lead to more inequality amongst countries. However, we and experts are convinced that global regulation as well as global laws could reduce this problem to a certain extent.  

        As a team, we see cloud seeding as a possible way to reduce certain effects of climate change, like extreme droughts. But doing cloud seeding is a way of doing geo-engineering. Nowadays, discussions regarding geo-engineering are controversial. What we can conclude out of our surveys is that people are really concerned about climate change. In contrast, there are also people who deny the existence of climate change and our fear is that, if we provide more geo-engineering technologies, countries just will use those technologies without battling the cause of climate change. Moreover, we can see that people are reserved when it comes to geo-engineering. Opinions regarding the next statement: "It is positive that we can control the weather" were divided as well. The results from the surveys for this question are shown in the graph below.

    - var imgpath = "" + require("../assets/img/Outreach_fig1.png")["default"]
    +image(1, imgpath, "Distribution (%) of the answers regarding the statement \"It is positive that we can control the weather\".", 70)

    :markdown-it(html)

        Besides the ethical side of the project, our goal was to find out how regularly farmers are confronted with water scarcity and drought, how regularly they irrigate and what their water consumption is. As such, we have an idea about the drought and water scarcity issues in at this time. Based on the results, water consumption used to irrigate, can vary from zero to several millions water a week. In addition, approximately 20% of the farmers indicated that they experience problems due to drought every day. About 10% is experiencing problems every month, about 60% of them several times a year and roughly 10% of them once in a year. These numbers indicate that drought really is a problem we are confronted with. 

        Based on the results of the surveys, [a business plan](https://2020.igem.org/Team:UGent_Belgium/Contribution#Businessplan) is written for the project, where we want to propose our standards and values for the project and the use of cloud seeding as a technique. We will also indicate how we would like the use of the technique to be controlled and regulated. However, the opinion of our stakeholders is also extremely important, which is why we have adapted this structure to their wishes. That is why we made the surveys. 

        In any case, we wanted to anticipate on the negative perception regarding the use of GMOs. That is why we chose to work with the bacterial ghost principle, which makes the cells to leak so all the bacterial DNA is removed. This enables us to guarantee people that our product does not contain GMOs. As such, the acceptance process and the use of the technique can be facilitated. 

       