extends ../templates/contents.pug

block headVars
    - var title = "Clouds"
    - var tagline = "To perform cloud seeding and test cloud seeding agents in dynamic chambers, a good understanding of cloud physics is necessary. To that end, we studied the precipitation processes in cold and warm clouds and the parameters like temperature and humidity that have to be taken into account before seeding a cloud."
    - var requireMathJax = false

block article
    :markdown-it(html)

       # We saved the world

       We did. 

    - var imgpath = "" + require("../assets/img/Description--josh-withers.jpg")["default"]
    +image(1, imgpath, "Picture by Josh Withers on Unsplash")

    :markdown-it
        # Recording References

        iGEM teams are encouraged to record references you use during the course of your research. They
        should be posted somewhere on your wiki so that judges and other visitors can see how you thought 
        about your project and what works inspired you.


//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
