extends ../templates/contents.pug

block headVars
    - var title = "Notebook"
    - var tagline = "Project"
    - var requireMathJax = false
    - var banner = "banner-project"

block article
    :markdown-it(html)

        # Timeline

        ## October

        * 8/10 - Infosession iGEM competition @UGent 

        ## November 

        * 21/11 - First brainstorming session with all interested students      

        ## December

        * 16/12 - Second brainstorming session with all interested students 

        ## January

        ## February

        * 10/2 - Presentations of all possible topics are given for all the students, PhD students as well as for our PI’s Marjan en Wim 
        * 17/02 - Team Water is formed. We had our first brainstorming session as a group. 

        ## March

        * 9/03 - Team Water decided to work on the topic of cloud seeding. Rearrangement of our group.  
        * 12/03 - Last real life meeting with team Water. University closes, everyone has to stay home.  

        ## April

        * 10/04 - First literature search is done by the team to gain more insight in cloud seeding 
        * 17/04 - Team & idea presentation for PI’s - we will work on the development of vesicles + our team name is born: Vsycle 
        * 24/04 - Project is devided into six work packages. Everyone in the team is assigned to two work packages.  

        ## May

        ## June

        * 06/06 - We got a message from Revive & Restore: our team has been selected for a Revive & Restore grant of 5500 USD !!  

        ## July

        * 07/07 - Meeting with other UGent Team Bubbly to discuss our collaboration 
        * 16/07 - Mails are sent to a list of companies for sponsering our project 
        * 22/07 - NDA is sent to German company cloud seeding technology
        * 22/07 - 24/07 - Benelux Meetup 
        * 25/07 - Twitter account is made for both iGEM teams  
        * 31/07 - Start collaboration with iGEM team Paris-Bettencourt 

        ## August

        * 02/08 - Our Team Logo is designed!  
        * 04/08 - Meeting with Massimiliano Simons (philosopher) to discuss the ethics regarding our project 
        * 11/08 - Storyboard animationvideo for children is made!  
        * 14/08 - Kick off call Revive & Restore 
        * 19/08 - Meeting with cameraman Waldo Vandermeiren for promotion video
        * 19/08 - Facebook and instagram account are made for both iGEM UGent teams 
        * 19/08 - Human Practices: surveys to gain insight in public opinion are made and sent to farmers and experts 
        * 20/08 - 22/08 - Participation in the global meetup 
        * 20/08 - Meeting with teachers elimentary education to get feedback regarding the lessons we prepared for children as part of our outreach 
        * 24/08 - Meeting with director Lieven De Brauwer to brainstorm for our promotion video 
        * 26/08 - Meeting with German Company to discuss details regarding possible collaboration 
        * 26/08 - Meeting with Toon Van Huynegem to start developping our game as part of outreach 

        ## September

        * 03/09 - Animationvideo is made! 
        * 6/09 - Filming day for promotion video 
        * 9/09 - Our surveys are sent to iGEM team Paris-Bettencourt  
        * 10/09 - Meeting with iGEM team Manchester to discuss possible collaboration and to give each other feedback regarding entrepreneurship 
        * 11/09 - First lesson is given to the children! They were enthousiastic! 
        * 14/09 - Brochures are sent to companies for sponsoring 
        * 18/09 - GoFundMe page is launched 
        * 21/09 - De Watergroep, a Belgian company, officialy announced that they will sponsor us!  
        * 24/09 - We did hand in our promotionvideo and did publish it on our social media!  

        ## October

        * 7/10 - Press message is released! 
        * 10-11/10 - Team is busy with preparing the design and content of the presentation video 
        * 19/10 - It is time to start filming for the presentation video. After school, we go to the Ghent University museum (GUM) in the evening! So exciting!  



