extends ../templates/contents.pug

block headVars
    - var title = "Outreach"
    - var tagline = "Human Practices & Outreach"
    - var requireMathJax = true
    - var banner = "banner-hp-outreach"

block article

    :markdown-it(html)

        Letting people know what we were doing is an aspect the whole team found important. That's why we put a lot of time and energy into both outreach and science communication. 

        # Outreach

        The easiest channel to reach people and tell them our story is of course social media. Already at the beginning of our project, we set up a twitter page called 'iGEMUGent2020'. Later on, we added an Instagram and a Facebook page, all with the same name. On these channels we regularly posted information about our project, photos of the team, mentioned sponsors and posted messages about collaborations. It was also the perfect medium to make contact with other iGEM teams. It is important to mention that setting up and updating the different channels was a collaboration, namely with the other UGent iGEM team, Bubbly. Bubbly managed the twitter account, while the Instagram and Facebook page were managed by our team. Before any messages or photos were distributed, both teams contacted each other for their consent. 

        A second element for which both UGent teams collaborated are the brochures. The brochures were an important source of information, which both teams used to facilitate outreach towards companies. It gave them information about the iGEM competition as well as both projects. The brochures were a useful tool to let companies know what we as teams are doing as well as to get in touch for possible cooperation and/or sponsorship.  

        But outreach is not restricted to just sending messages towards other people. It is important that more detailed information is given regarding our project. For this, we gave some presentations. First of all, there was the Benelux meetup were all teams gave a presentation to let external teams know what their project is about. Secondly, there was a Revive & Restore meetup. Revive & Restore announced to fund 12 iGEM teams across the world and together with the winning teams the organization hosted a meetup where we presented our project. Moreover, we also gave a presentation to profs, PhD students, family and friends to prepare ourself for the final presentation video. The final presentation video will also be sent to contacts to reach as many people as we can. Finally, we also contacted the press to reach out to more people.  

        However, a message via mail or social media is quickly read and forgotten anyway. That is why we started looking for an original way to reach out to more people. For this purpose, we developed our own game! The game is a platform game in which the character gets four lives. The aim is to reach the final destination as quickly as possible. The platforms are pieces of grass, but due to drought and water scarcity, some platforms are inactive and cannot be used. In order to be able to continue walking, they must be activated by irrigation. Here the player is confronted with a choice: either he uses our ecological Vsycle product or he chooses the easily available silver iodide. However, when using chemicals, the player will lose a life. Along the way, the character needs to collect several power-ups that she can use to reach more remote platforms. The power-ups symbolize the flavonoids, which are designed by team Bubbly as the game is again a collaboration between our UGent teams. With this game, we hoped to reach both young children and young adults so that we can expand our contact audience. 

        Due to limitations on what files you can upload to the igem servers, it was unfortunately impossible to upload the game to our site directly. However, you can still play our game [here](https://bspanoghe.itch.io/cloud-run)!

        # Science communication

        Before we could work out a biological cloud seeding agent, we had to take prior knowledge of some basic principles. To do so, we read a lot of literature on topics as cloud formation, precipitation, etc. We wanted to share the knowledge and insight we gained with other people who are unfamiliar with these topics too. Moreover, we wanted to challenge ourselves by getting in touch with the youngest. We wanted to teach them something about the theme in which our project fits, namely 'weather and climate'. More specifically, our target group was both pre-school and primary education. That is why we prepared lessons with the topic 'the water cycle and the clouds'. Initially it was our intention to travel to different schools in Flanders to give our own lessons. However, because of the COVID-19 pandemic, this was not possible.  

        Instead other teachers gave these lessons in our place. Therefore, we wrote a manual for the teachers, which contained all the lesson content and material. For primary education, we provided explanations regarding the water cycle and the clouds, supplemented with supporting visual teaching materials. To make the lesson interactive for the children, an experiment was carried out in which the functioning of the cloud was demonstrated. Finally, there was also a quiz in which children learned more about facts regarding the weather and climate. For the toddlers however, the theoretical explanation was limited to the clouds and more activities were provided: an educational game about the weather and rain in particular as well as having the toddlers making drawings. More specifically, the children had to draw how they thought they could provide more rain on this planet. The childlike fantasy led to some beautiful [results](https://2020.igem.org/Team:UGent_Belgium/Fun#Outreachresults)! Finally, our team also made an animation video, which explained the content of our project in a very playful and funny way. This video was also shown to the children. In order to work out these lessons as well as possible, elementary school teachers helped us with many tips and their experience to make the lesson as educational and enjoyable as possible for the children.  


    - var imgpath = "" + require("../assets/img/obama10.png")["default"]
    +image(1, imgpath, "Placeholder") 

    :markdown-it
        A second important part of our science communication is our YouTube channel. There are already many tutorials on Biopython but they are either too complex for beginners or they are too long. That is why we decided to make a series consisting of six videos: which software to use and how to install, how to look up FASTA sequences based on accession numbers, how to calculate the length of a PCR fragment, how to perform BLAST search, how to perform single alignments and how to make a phylogenetic tree. Making this tutorial is again a collaboration with the other iGEM UGent team, Bubbly.  
