extends ../templates/contents.pug

block headVars
    - var title = "Parts"
    - var tagline = ""
    - var requireMathJax = true
    - var banner = "banner-parts"

block article

    :markdown-it(html)

        # Links
        [Google](https://google.com)

        [Text goes in square brackets](Link-goes-in-parenthesis)

        # Blockquote

        > This is a blockquote.
        > This continues in the same paragraph.
        >
        > To change the paragraph, you have to leave a line.

        > This is another blockquote.
        > 
        > **Pranav Ballaney, 2020**

        # Images

        This is a regular paragraph. 
        #### This is a level 4 heading. 
        [This is a link](google.com)