extends ../templates/contents.pug

block headVars
    - var title = "Fun"
    - var tagline = "Rain Animation"
    - var requireMathJax = true
    - var banner = "banner-fun"

block article

    :markdown-it(html)


        ##Funny video :)
