extends ../templates/contents.pug

block headVars
    - var title = "Safety"
    - var tagline = "Project"
    - var requireMathJax = false
    - var banner = "banner-project"

block article
    :markdown-it(html)

    TODO
