extends ../templates/contents.pug

block headVars
    - var title = "Safety"
    - var tagline = "Project"
    - var requireMathJax = false
    - var banner = "banner-project"

block article
    :markdown-it(html)

        Due to the COVID-19 pandemic, we were not able to conduct lab experiments. Anyway, as safety is an important aspect of any scientific project, we reflected on this as well. The safety measures are written down as if we would perform lab experiments. 

        # Lab measures

        Our experiments are done in a GMO class 2 laboratory at the Department Biotechnology at Ghent University. Everyone who works in a lab at Ghent university has to follow 'ENVIRONMENTAL, HEALTH and SAFETY GUIDELINES'. Moreover, we have to sign that we follow these regulations. To work at CSB (Centre for Synthetic Biology), the lab who is hosting the iGEM teams, everyone has to follow first a biosafety and security training. This is managed by the lab manager, Gilles Velghe.  

        In addition, everyone has to commit themselves to both the national legal and ethical requirement compliance and the international and EU compliance: 

        * National legal and ethical requirements compliance 

        Environmental regulation: Decree of the Flemish Government of 6 February 2004 amending the Decree of 6 February 1991 and the Decree of 1st June 1995 "Besluit van de Vlaamse regering van 6 februari 2004 tot wijziging van het besluit van de Vlaamse regering van 6 februari 1991 houdende vaststelling van het Vlaams reglement betreffende de milieuvergunning, en van het besluit van de Vlaamse regering van 1 juni 1995 houdende algemene en sectorale bepalingen inzake milieuhygiëne"  

        * EU regulation compliance 

        Directive 2015/412/EC amending Directive 2001/18/EC on the deliberate release of GMOs into the environment, Directive 2009/41/EC on contained use of genetically modified micro-organisms. Regulation (EC) 1946/2003 on transboundary movements of GMOs, Regulation (EC) 1829/2003, Regulation (EC) 1830/2003  

        * International regulation 

        The Cartagena Protocol on Biosafety to the Convention on Biological Diversity (signed by the Community and its Member States in 2000. The Council concluded the Protocol on behalf of the Community through the adoption of Decision 2002/628/EC) The precautionary principle - No. 15 of the Rio Declaration adopted at the 1992 UN Conference on the Human Environment and Development. 

        For specifically working with GMO's, [the guidelines from the Biosafety brochure from the VIB](https://vib.be/en/training/Documents/Biosafety%20in%20the%20laboratory.pdf) are followed
        
        In addition, every member of our team gets a (bio)safety and waste disposal training before performing our experiments in the lab. This training focusses especially on the safe use of ethidium bromide, which we use as a dye for DNA detection on gels. During the eventual execution of our experiments, we are supervised by our instructor, Prof. Marjan De Mey, who makes sure we perform everything according to the safety regulations. She already has experience with the strains and proteins we want to use, since the previous UGent team of 2016 also used these.  

        In our lab, all plasticware (tips etc.) are disposed as biohazard waste. Liquid cultures are sterilized using bleach and an autoclave, petri dishes are also sterilized using an autoclave. The laminar flow cabinets (biosafety cabinet level 2) work with a laminar vertical flow, as these are safer. Other general measures are lab coats, gloves and safety goggles. 

        # Project measures

        Our bacteria, *Escherichia coli* TOP10 is a standard non-pathogenic laboratory bacterium belonging to risk group 1. According to this classification, it is unlikely that they will cause human or animal disease. This strain is genetically engineered to produce ice nucleation proteins on its surface. To make the bacterial cells usable to perform actual cloud seeding, they have to express an additional gene to make them bacterial ghosts, lysating and killing the bacteria in the process. To be sure there is no modified DNA left and all bacteria are dead, the lysate mixture is treated with a nuclease. By doing these steps, additional environmental risks are avoided.   

        All above mentioned experiments are performed in a contained laboratory environment (GMO-class 2 laboratory). If containment fails, however, our project poses minimal risks for public and for the environment, as they do not contain any DNA and are dead. Bacteria often have the capability of transferring genetic material, especially when self-transmissible vectors are used. As often done in practice, the vectors in our experiments are not self transducible, avoiding genetic material from being easily transferred. The only risk that these experiments can entail, is the use of a DNA stain such as ethidium bromide. To use ethidium bromide, we have to work in a separate restricted room where specific additional safety rules have to be applied. In addition, standard operation procedures for spill accidents are available in all labs. 

prepend citations
    - var citations = [{"authors": " iGEM_UGent_2016 ", "details": "Retrieved on October 20, 2020. from ", "title": " Safety. ", "type": "webpage", "url": "http://2016.igem.org/Team:UGent_Belgium/Safety"}] 