extends ../templates/contents.pug

block headVars
    - var title = "SOPs"
    - var tagline = "Project"
    - var requireMathJax = false
    - var banner = "banner-project"

block article
    :markdown-it(html)

        # Supercooled water

        Supercooled water is water that has a temperature below its freezing point while still being liquid. Supercooled water will be made using one of the following methods

        ## Method 1

        1. Place an equal volume of distilled water and tap water in the freezer in separate test tubes. The impurities in that tap water will make sure the tap water does not supercool while the distilled water does. 

        1. Let both test tubes chill, undisturbed for around two and a half hours. The exact time needed to supercool your test tube with distilled water will be influenced by the volume distilled water and the temperature of the freezer. When the test tube with tap water is frozen and the test tube with distilled water is not, you can be sure that the distilled water is supercooled. If both the tap and distilled water have been frozen, you might have waited too long, disturbed the test tubes or the distilled water might not have been pure enough. 

        1. Carefully take the supercooled water out of the freezer. 

        1. The supercooled water is now ready for crystallisation to be initiated by e.g. INP. 

        ## Method 2 (faster)

        1. Prepare a cooling bath of your choice. This can be done using an ice bath and using table salt or ethanol to induce freezing-point depression. An ethanol bath will have a temperature of about -6°C, a cooling bath using NaCl will have a temperature just below 0°C. 

        1. Place the test tube with distilled water in the cooling bath. 

        1. After about 15 minutes, depending on the type of cooling bath you chose and its temperature, the distilled water should be cooled below freezing and thus also be supercooled. 

        1. Carefully take the supercooled water out of the cooling bath. 

        1. The supercooled water is now ready for crystallisation to be initiated by e.g. INP. 

        # PCR

        Polymerase Chain Reation (PCR) is used extensively during both the assembly and verification of new constructs. For assembly work, we use high-fidelity DNA polymerases: PrimeSTAR HS, PrimeSTAR GXL (TaKaRa Bio) or Q5 (New England Biolabs). The manufacturer's instructions are followed unless mentioned otherwise. To create linear fragments suitable for assembly, BsaI restriction sites or overlapping sequences can be added to the 5' end of the primers during the in-silico design. The length of each fragment is verified using agarose gel electrophoresis, reaction mixture is purified using a PCR purification kit (Analytik Jena) and DNA concentration is determined using a NanoDrop device (Thermo Scientific). 

        After transformation, verification of construct assembly is mostly performed using Colony PCR with Taq DNA Polymerase or OneTaq Quick-Load Master Mix. Colonies are randomly selected and picked by hand using sterile pipette tips, which are then briefly touched to a back-up plate and placed in a PCR tube. We slightly modified the manufacturer's protocol by extending the initial denaturation time to 2 minutes, to ensure lysis of the colonies. The length of each fragment is again determined by agarose gel electrophoresis. 

        # Circular Polymerase Extension Cloning (CPEC) 

        Shorter constructs such as the plasmids carrying our basic parts, as well as the empty cloning vectors, were assembled from linear backbones created by PCR and synthetic fragments (gBlocks) using Circular Polymerase Extension Cloning (CPEC). Our version of the protocol makes use of Q5 polymerase in the following reaction mixture: 

        

