extends ../templates/contents.pug

block headVars
    - var title = "SOPs"
    - var tagline = "Project"
    - var requireMathJax = false
    - var banner = "banner-project"

block article
    :markdown-it(html)

        # Supercooled water

        Supercooled water is water that has a temperature below its freezing point while still being liquid. Supercooled water will be made using one of the following methods

        ### Method 1

        1. Place an equal volume of distilled water and tap water in the freezer in separate test tubes. The impurities in that tap water will make sure the tap water does not supercool while the distilled water does. 

        1. Let both test tubes chill, undisturbed for around two and a half hours. The exact time needed to supercool your test tube with distilled water will be influenced by the volume distilled water and the temperature of the freezer. When the test tube with tap water is frozen and the test tube with distilled water is not, you can be sure that the distilled water is supercooled. If both the tap and distilled water have been frozen, you might have waited too long, disturbed the test tubes or the distilled water might not have been pure enough. 

        1. Carefully take the supercooled water out of the freezer. 

        1. The supercooled water is now ready for crystallisation to be initiated by e.g. INP. 

        ### Method 2 (faster)

        1. Prepare a cooling bath of your choice. This can be done using an ice bath and using table salt or ethanol to induce freezing-point depression. An ethanol bath will have a temperature of about -6°C, a cooling bath using NaCl will have a temperature just below 0°C. 

        1. Place the test tube with distilled water in the cooling bath. 

        1. After about 15 minutes, depending on the type of cooling bath you chose and its temperature, the distilled water should be cooled below freezing and thus also be supercooled. 

        1. Carefully take the supercooled water out of the cooling bath. 

        1. The supercooled water is now ready for crystallisation to be initiated by e.g. INP. 

        # PCR

        Polymerase Chain Reation (PCR) is used extensively during both the assembly and verification of new constructs. For assembly work, we use high-fidelity DNA polymerases: PrimeSTAR HS, PrimeSTAR GXL (TaKaRa Bio) or Q5 (New England Biolabs). The manufacturer's instructions are followed unless mentioned otherwise. To create linear fragments suitable for assembly, BsaI restriction sites or overlapping sequences can be added to the 5' end of the primers during the in-silico design. The length of each fragment is verified using agarose gel electrophoresis, reaction mixture is purified using a PCR purification kit (Analytik Jena) and DNA concentration is determined using a NanoDrop device (Thermo Scientific). 

        After transformation, verification of construct assembly is mostly performed using Colony PCR with Taq DNA Polymerase or OneTaq Quick-Load Master Mix. Colonies are randomly selected and picked by hand using sterile pipette tips, which are then briefly touched to a back-up plate and placed in a PCR tube. We slightly modified the manufacturer's protocol by extending the initial denaturation time to 2 minutes, to ensure lysis of the colonies. The length of each fragment is again determined by agarose gel electrophoresis. 

        # Circular Polymerase Extension Cloning (CPEC) 

        Shorter constructs such as the plasmids carrying our basic parts, as well as the empty cloning vectors, were assembled from linear backbones created by PCR and synthetic fragments (gBlocks) using Circular Polymerase Extension Cloning (CPEC). Our version of the protocol makes use of Q5 polymerase in the following reaction mixture: 

    
    :markdown-it(html plugins=['markdown-it-multimd-table'])

        | Component | Amount |
        | :------------  | -----------: |
        | Vector backbone | 100-200 ng |
        | Insert | 3:1 molar ratio to the vector |
        | Q5 buffer | 5.0 μl |
        | dNTPs (2mM) | 5.0 μl |
        | DMSO | 0.75 μl |
        | Q5 DNA-polymerase | 0.5 μl |
        | dH<sub>2</sub>O | to 15 μL total volume |

    :markdown-it(html)

        The tubes are incubated for 30 sec. at 98℃, 15 cycles of (10 sec. at 98℃; 30 sec. at 55℃; construct length(kb) x 15 sec. at 72℃) and 10 min. at 72 ℃. 1-2uL is then used directly for transformation, being careful not to add more as this increases the risk of arcing. 
    
        # Lysogeny Broth (LB) 

        1. Measure 10 grams of tryptone, 5 grams of yeast extract and 10 grams NaCl.  

        1. Dissolve these components in 1L of distilled or deionized water. 

        1. Sterilize by autoclaving at 121°C and 1.034 bar for 15 minutes. 

        1. After the LB has cooled swirl the flask to ensure the LB is mixed. 

        1. The LB medium is now ready for use. Make sure to work sterile. 

prepend citations
    - var citations = [{"authors": " Quan, J., & Tian, J. (2009). ", "doi": "10.1371/journal.pone.0006441", "journal": " PloS one, ", "numbers": "4(7), e6441.", "title": " Circular polymerase extension cloning of complex gene libraries and pathways. ", "type": "article"}, {"authors": " M. P., & Liao, M. K. (2006). ",  "journal": " American Society for Microbiology. ",  "title": " Luria broth (LB) and Luria agar (LA) media and their uses protocol. ", "type": "webpage", "url": "https://www.asmscience.org/content/education/protocol/protocol.3031"}, {"authors": " Vinchhi, B. J. , Veugelen, S., Vandermeeren, K. , Hoorne , Y. ", "details": "Retrieved on September 24, 2020. from ", "title": " Part: BBa_K584028. ", "type": "webpage", "url": "http://parts.igem.org/Part:BBa_K584028"},  {"authors": " iGEM_UGent_2016 ", "details": "Retrieved on September 24, 2020. from ", "title": " Protocols. ", "type": "webpage", "url": "http://2016.igem.org/Team:UGent_Belgium/SOP"}] 
