//- extends ../templates/contents.pug
include ../templates/mixins


block headVars
    - var title = "Team Members"
    - var tagline = "Team"
    - var requireMathJax = false
    - var banner = "banner-team"

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Team | Vsycle
  body
    include ../templates/nav.pug
    header.d-flex.justify-content-center.align-items-center
      .container
        h1 Meet the Team
        img(src=require('../assets/img/Team.jpg')['default'])


    main
      .container
        .row.d-flex.justify-content-center
          - var teamMembers = [{'name': "Bram Spanoghe", 'description': "Lethal butthole ninja", 'cls': 'member-bram'}, {'name': "Brent De Bakker", 'description': "It's tea time", 'cls': 'member-brent'}, {'name': "Lander Lancelot", 'description': "For the kingdom", 'cls': 'member-lander'}, {'name': "Laure Lindsey", 'description': "Where am I?", 'cls': 'member-laure'}, {'name': "Marvi Maisel", 'description': "Just marvelous", 'cls': 'member-marvi'}, {'name': "Shauny Shiny", 'description': "Successor of Mr. Proper", 'cls': 'member-shauny'}]
          each member in teamMembers
            .col-lg-4.col-md-6.col-sm-12
              .hexagon
                .hexagon-in1
                  .hexagon-in2(class=member['cls'])
              .card
                .card-body.text-center
                  h5.card-title #{member['name']}
                  p.card-text #{member['description']}


    include ../templates/footer.pug
