/**
 * Footer
 **/

$background: #2c3e50;
$background-dark: #375A7F;
$footer-background: #aab8c2;
$link: #18bc9c;

footer {
  background-color: $footer-background;
  transition: background-color 0.3s ease;
  margin-top: auto;
  padding: 2rem;
  color: white;
  font-family: "Lato";
  font-size: 1rem;

  .sponsor.d-flex.flex-column {
    flex: 25%;
    padding: 5px;
  }


  .sponsor-item {
    align-self: center;
    max-width: 200px;
    margin: auto;
  }

  .sponsor-item.lg {
    max-width: 300px;
  }

  .sponsor-item > img {
    width: 100%;
  }

  .social {
    align-self: center;
    margin: 0 2rem 0 4rem;
  }

  .social-item {
    margin-top: 0.7rem;
    margin-right: 0.7rem;
    align-self: center;
  }

  .social-item > a:before {
    display: block;
    content: ' ';
    background-size: 3rem 3rem;
    height: 3rem;
    width: 3rem;
  }

  .facebook:before {
    background-image: url("../assets/icons/facebook.svg");
  }

  .twitter:before {
    background-image: url("../assets/icons/twitter.svg");
  }

  .instagram:before {
    background-image: url("../assets/icons/instagram.svg");
  }

  p {
    margin: 0;
  }

  a {
    color: $link;
    transition: color 0.3s ease;

    &:hover {
      color: $link;
      text-decoration: underline;
    }
  }
}

body.dark {
  footer {
    background-color: $background-dark;
  }
}
