include templates/mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Vsycle | iGEM 2020
  body
    include templates/nav.pug
    header.d-flex.justify-content-center.align-items-center
      img(src=require('Assets/img/vsycle.png')['default'])

    article
      .container
        h1 Making it rain
        p Drought and water scarcity are becoming a worldwide problem. Manipulating the weather to make it rain by the use of cloud seeding, a technique where certain particles are dispersed in clouds, could be a remedy. Cloud seeding is already used, but is mainly done by using the toxic silver iodide. With team Vsycle we designed an alternative cloud seeding agent that is biological, nontoxic and biodegradable. For this, we used the ice nucleation proteins (INPs) from Pseudomonas syringae, which facilitate ice formation. As the formation of ice crystals in clouds plays an essential role in many environments, this protein is very interesting to use as a potential alternative to silver iodide in cloud seeding. To anticipate on legislation issues regarding GMO’s, we designed INP producing E. coli cells that can be induced to leak their cellular contents according to the bacterial ghost principle.

        br

        .row
          .col
            .card(style='width: 18rem;')
              .card-img-top
                img(src=require('./assets/img/obama1.jpg')['default'])

              .card-body
                h5.card-title Project
                //- p.card-text
                //-   | Get to know more about our project.
                a.btn.btn-primary(href='Description') Read more

          .col
            .card(style = 'width: 18rem;')
              .card-img-top
                img(src=require('./assets/img/obama8.png')['default'])

              .card-body
                h5.card-title Human Practices & Outreach
                //- p.card-text
                //-   | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                a.btn.btn-primary(href='Human_Practices') Read More

          .col
            .card(style='width: 18rem;')
              .card-img-top
                img(src=require('./assets/img/obama3.png')['default'])

              .card-body
                h5.card-title Team
                //- p.card-text
                //-   | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                a.btn.btn-primary(href='Team_Members') Read more


    include templates/footer.pug
